<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
    <body class="bg-cover flex bg-center flex-col min-h-screen"
          style="background-image: url('/assets/images/banner.jpg')">

        {%- include header.html -%}

        <section class="flex-1 justify-center flex">

            <div class="flex w-full justify-center p-8">

                <div class="max-w-screen-lg w-full">

                    <article class="mb-6 bg-black bg-opacity-70 text-white shadow-xl text-lg rounded w-full">
                        
                        <div class="p-8">
                            <header class="post-header">
                                <div class="border-t border-b mb-1"></div>
                                <div class="border-t border-b mb-5"></div>
                                <h2 class="text-2xl font-bold tracking-wide uppercase text-center">Affischer</h2>
                                <div class="border-t border-b mt-4 mb-1"></div>
                                <div class="border-t border-b mb-5"></div>
                            </header>
                            
                            <div class="grid grid-cols-2 gap-3">
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Anhörig.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                       </div>
                                    </div>
				    <img src="/assets/pdfs/Anhörig.png">
			        </div>

			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Anhörig2.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Anhörig2.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Är du less.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Är du less.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Det finns hjälp.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Det finns hjälp.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Det har gått för långt.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Det har gått för långt.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/ditt liv - ditt val.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/ditt liv - ditt val.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Du har ett val.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Du har ett val.png">
			        </div>

			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Du väljer.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Du väljer.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/När är det ett missbruk.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/När är det ett missbruk.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/När är det nog.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/När är det nog.png">
			        </div>

			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Räcker det nu.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Räcker det nu.png">
			        </div>
			        <div class="bg-gray-800 p-4 rounded shadow">
                                    <div class="mb-4 flex justify-between">
                                        <div>
                                        </div>
                                        <div class="flex text-gray-200">
                                            <a href="/assets/pdfs/Vem påverkas av ditt val.pdf" class="text-gray-200 cursor-pointer" download>
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bg-gray-900 rounded-full p-2 h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
				    <img src="/assets/pdfs/Vem påverkas av ditt val.png">
			        </div>
                            </div>
                        </div>
                        
                    </article>

                    {% if paginator.total_pages > 1 %}
                    <ul class="flex justify-between">


                        {% if paginator.previous_page %}
                        <li>
                            <a class="py-4 px-8 cursor-pointer bg-black bg-opacity-70 shadow-xl rounded text-white" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Senare</a>
                        </li>
                        {% else %}
                        <li></li>
                        {% endif %}

                        {% if paginator.next_page %}
                        <li>
                            <a class="py-4 px-8 cursor-pointer bg-black bg-opacity-70 shadow-xl rounded text-white" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Äldre</a>
                        </li>
                        {% else %}
                        <li></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                    
                </div>

            </div>

        </section>

    {%- include footer.html -%}

  </body>

</html>
